.nav {
    margin-left: 270px;
    margin-top: 70px;
    width: calc(100% - 270px);
    padding: 22px 38px 0 25px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: #495057;
        }

        &__links {
            display: flex;
            &__item {
                margin-right: 5px;
                font-weight: 400;
                font-size: 13px;
                text-align: right;
                color: #74788D;
                &_active {
                    color: #495057;
                }
            }:nth-child(odd) {
                cursor: pointer;
            }
        }
    }
}