.table {
    margin-left: 252px;
    // margin-top: 31px;
    width: calc(100% - 252px);
    padding: 34px 0 40px 48px;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(229,229,229); 
    z-index: 20;
    transition: .3s all;
}

.overlay_show {
    opacity: 1;
    visibility: visible;
}